/* CSS for Game Form */

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #121212;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #e0e0e0;
}

h1 {
    text-align: center;
    color: #ff6f61;
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-right: 50px;
}

form {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 111, 97, 0.5);
    width: 100%;
    max-width: 400px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ff6f61;
}

input[type="text"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1em;
    background-color: #2b2b2b;
    color: #e0e0e0;
}

input[type="submit"] {
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background-color: #e65a50;
    transform: scale(1.05);
}




/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;

    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    
    }

    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="submit"] {
        width: calc(100% - 15px);
        padding: 8px;
    }


}